.carousel-component {
  width: 70em;
  height: 36em;
  margin-bottom: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

img {
  margin: auto;
}

h5 {
  font-size: 1.1em;
  font-style: italic;
  margin: 0px;
}

p {
  width: 80%;
  margin: auto;
  padding: 10px 0 10px 0;
}
